In [1]:
import pandas as pd
df = pd.read_csv("alabama.csv")

df.head()

,Year,State,State_clearance,Homicide_count,Homicide_Clearence,month,year
0,01-1985,Alabama,Alabama Clearances,37,32,1,1985
1,02-1985,Alabama,Alabama Clearances,24,17,2,1985
2,03-1985,Alabama,Alabama Clearances,38,27,3,1985
3,04-1985,Alabama,Alabama Clearances,28,21,4,1985
4,05-1985,Alabama,Alabama Clearances,32,22,5,1985

In [3]:
df = df.rename(columns={'Year': 'Year_month'})
df.head()

,Year_month,State,State_clearance,Homicide_count,Homicide_Clearence,month,year
0,01-1985,Alabama,Alabama Clearances,37,32,1,1985
1,02-1985,Alabama,Alabama Clearances,24,17,2,1985
2,03-1985,Alabama,Alabama Clearances,38,27,3,1985
3,04-1985,Alabama,Alabama Clearances,28,21,4,1985
4,05-1985,Alabama,Alabama Clearances,32,22,5,1985

In [4]:
df.columns

Index(['Year_month', 'State', 'State_clearance', 'Homicide_count',
       'Homicide_Clearence', 'month', 'year'],
      dtype='object')

In [16]:
df_filtered = df[(df['year'].between(1985, 1989)) | (df['year'].between(2011, 2024))]
soucet_za_rok = df.groupby('year')['Homicide_count'].sum().reset_index()
print(soucet_za_rok)

    year  Homicide_count
0   1985             389
1   1986             397
2   1987             377
3   1988             383
4   1989             405
5   1990             453
6   1991             439
7   1992             415
8   1993             470
9   1994             493
10  1995             466
11  1996             438
12  1997             413
13  1998             344
14  1999             339
15  2000             283
16  2001             326
17  2002             280
18  2003             288
19  2004             247
20  2005             308
21  2006             312
22  2007             351
23  2008             336
24  2009             318
25  2010             219
26  2011             296
27  2012             336
28  2013             295
29  2014             269
30  2015             343
31  2016             396
32  2017             397
33  2018             363
34  2019             139
35  2020             241
36  2021             422
37  2022             522
38  2023             502
39  2024             463
40  2025              44

In [17]:
soucet_za_rok.to_csv("alabama_withouspike.csv", sep=';', index=False)

In [13]:
df_filtered = df[(df['year'].between(1990,2010))  &  (df['month']==(12))]
print (df_filtered)

    Year_month    State     State_clearance  Homicide_count  \
71     12-1990  Alabama  Alabama Clearances             242
83     12-1991  Alabama  Alabama Clearances             258
95     12-1992  Alabama  Alabama Clearances             244
107    12-1993  Alabama  Alabama Clearances             269
119    12-1994  Alabama  Alabama Clearances             275
131    12-1995  Alabama  Alabama Clearances             262
143    12-1996  Alabama  Alabama Clearances             257
155    12-1997  Alabama  Alabama Clearances             312
167    12-1998  Alabama  Alabama Clearances             232
179    12-1999  Alabama  Alabama Clearances             334
191    12-2000  Alabama  Alabama Clearances             205
203    12-2001  Alabama  Alabama Clearances             253
215    12-2002  Alabama  Alabama Clearances             206
227    12-2003  Alabama  Alabama Clearances             215
239    12-2004  Alabama  Alabama Clearances             190
251    12-2005  Alabama  Alabama Clearances             230
263    12-2006  Alabama  Alabama Clearances             218
275    12-2007  Alabama  Alabama Clearances             259
287    12-2008  Alabama  Alabama Clearances             246
299    12-2009  Alabama  Alabama Clearances             235
311    12-2010  Alabama  Alabama Clearances             166

     Homicide_Clearence  month  year
71                   18     12  1990
83                  186     12  1991
95                  184     12  1992
107                   0     12  1993
119                   0     12  1994
131                 127     12  1995
143                 102     12  1996
155                 150     12  1997
167                 110     12  1998
179                 148     12  1999
191                  70     12  2000
203                 110     12  2001
215                 147     12  2002
227                 135     12  2003
239                 133     12  2004
251                 116     12  2005
263                 138     12  2006
275                 184     12  2007
287                 242     12  2008
299                 168     12  2009
311                 135     12  2010

In [15]:
df_filtered.to_csv("alabama_spike.csv", sep=';', index=False)

In [22]:
df2 = pd.read_csv("alabama_withouspike.csv", sep=';' )
df2['State'] = 'Alabama'
df2.head()

   year  Homicide_count    State
0  1985             389  Alabama
1  1986             397  Alabama
2  1987             377  Alabama
3  1988             383  Alabama
4  1989             405  Alabama

In [24]:
df2.to_csv("alabama_withoutspike.csv", sep=';', index=False)