In [ ]:
import pandas as pd
df1 = pd.read_csv("alabama_spike.csv", sep=';')
df2 = pd.read_csv("alabama_withoutspike.csv", sep=';')


df_spojene = pd.concat([df1, df2], ignore_index=True)
df_spojene.head(20)

,Year_month,State,State_clearance,Homicide_count,Homicide_Clearence,month,year
0,12-1990,Alabama,Alabama Clearances,242,18.0,12.0,1990
1,12-1991,Alabama,Alabama Clearances,258,186.0,12.0,1991
2,12-1992,Alabama,Alabama Clearances,244,184.0,12.0,1992
3,12-1993,Alabama,Alabama Clearances,269,0.0,12.0,1993
4,12-1994,Alabama,Alabama Clearances,275,0.0,12.0,1994
5,12-1995,Alabama,Alabama Clearances,262,127.0,12.0,1995
6,12-1996,Alabama,Alabama Clearances,257,102.0,12.0,1996
7,12-1997,Alabama,Alabama Clearances,312,150.0,12.0,1997
8,12-1998,Alabama,Alabama Clearances,232,110.0,12.0,1998
9,12-1999,Alabama,Alabama Clearances,334,148.0,12.0,1999
10,12-2000,Alabama,Alabama Clearances,205,70.0,12.0,2000
11,12-2001,Alabama,Alabama Clearances,253,110.0,12.0,2001
12,12-2002,Alabama,Alabama Clearances,206,147.0,12.0,2002
13,12-2003,Alabama,Alabama Clearances,215,135.0,12.0,2003
14,12-2004,Alabama,Alabama Clearances,190,133.0,12.0,2004
15,12-2005,Alabama,Alabama Clearances,230,116.0,12.0,2005
16,12-2006,Alabama,Alabama Clearances,218,138.0,12.0,2006
17,12-2007,Alabama,Alabama Clearances,259,184.0,12.0,2007
18,12-2008,Alabama,Alabama Clearances,246,242.0,12.0,2008
19,12-2009,Alabama,Alabama Clearances,235,168.0,12.0,2009

In [4]:
df_spojene.to_csv("Exectuion_join.csv", sep=';', index=False)