In [1]:
import pandas as pd
df = pd.read_csv("States_status_with_codes.csv", sep=";", encoding="utf-8-sig")

In [2]:
df.head()

,StateCode,State,Status,Year,Last_execution,Description
0,AL,Alabama,Active,NaN,2024.0,NaN
1,AK,Alaska,Abolition,1957.0,NaN,Zrušeno před přijetím do Unie.
2,AZ,Arizona,Active,NaN,2025.0,NaN
3,AR,Arkansas,Active,NaN,2017.0,NaN
4,CA,California,Moratorium,NaN,2006.0,Moratorium

In [3]:
df.dtypes

StateCode          object
State              object
Status             object
Year              float64
Last_execution    float64
Description        object
dtype: object

In [4]:
cols_to_convert = ["Year", "Last_execution"]

df[cols_to_convert] = df[cols_to_convert].astype("Int64")  
df.head()

,StateCode,State,Status,Year,Last_execution,Description
0,AL,Alabama,Active,<NA>,2024,NaN
1,AK,Alaska,Abolition,1957,<NA>,Zrušeno před přijetím do Unie.
2,AZ,Arizona,Active,<NA>,2025,NaN
3,AR,Arkansas,Active,<NA>,2017,NaN
4,CA,California,Moratorium,<NA>,2006,Moratorium

In [5]:
df.to_csv("States_Status_Final.csv", sep=";", index=False, encoding="utf-8-sig")