In [6]:
import pandas as pd
df1 = pd.read_csv("states_active_DP.csv", encoding="utf-8-sig")
df2 = pd.read_csv("states_moratorium_DP.csv", encoding="utf-8-sig")
df3 = pd.read_csv("states_without_DP.csv", encoding="utf-8-sig")

In [7]:
# spoj pod sebe
df_spojene = pd.concat([df1, df2, df3], ignore_index=True)
df_spojene.head(20)

             State  Year  Last_execution                               Status
0          Alabama   NaN          2024.0                                  NaN
1          Arizona   NaN          2025.0                                  NaN
2         Arkansas   NaN          2017.0                                  NaN
3          Florida   NaN          2024.0                                  NaN
4          Georgia   NaN          2020.0                                  NaN
5            Idaho   NaN          2023.0                                  NaN
6      Mississippi   NaN          2023.0                                  NaN
7         Missouri   NaN          2023.0                                  NaN
8         Nebraska   NaN          2018.0                                  NaN
9         Oklahoma   NaN          2024.0                                  NaN
10    South Dakota   NaN          2022.0                                  NaN
11       Tennessee   NaN          2022.0                                  NaN
12           Texas   NaN          2024.0                                  NaN
13            Utah   NaN          2022.0                                  NaN
14            Ohio   NaN          2018.0                                  NaN
15  South Carolina   NaN          2025.0                                  NaN
16      California   NaN          2006.0                           Moratorium
17          Kansas   NaN          1965.0    No executions since reinstatement
18        Kentucky   NaN          2008.0  De facto moratorium (no executions)
19         Montana   NaN          2006.0   Moratorium due to legal challenges

In [9]:
df_spojene.to_csv("States_status.csv", sep=';', index=False)

In [10]:
df_spojene.dtypes

State              object
Year              float64
Last_execution    float64
Status             object
dtype: object

In [11]:
cols_to_convert = ["Year", "Last_execution"]

df_spojene[cols_to_convert] = df_spojene[cols_to_convert].astype("Int64")

In [12]:
df_spojene.dtypes

State             object
Year               Int64
Last_execution     Int64
Status            object
dtype: object