Zmena nazvu sloupce Status na Description

In [1]:
import pandas as pd
df = pd.read_csv("States_status_with_codes.csv", sep=";", encoding="utf-8-sig")
df.head()

,StateCode,State,Status,Year,Last_execution,Description
0,AL,Alabama,Active,NaN,2024.0,NaN
1,AK,Alaska,Abolition,1957.0,NaN,Zrušeno před přijetím do Unie.
2,AZ,Arizona,Active,NaN,2025.0,NaN
3,AR,Arkansas,Active,NaN,2017.0,NaN
4,CA,California,Moratorium,NaN,2006.0,Moratorium

In [4]:
df = df.rename(columns={"Status": "Description"})
df.head()

      State  Year  Last_execution Description  Last_Execution
0   Alabama   NaN          2024.0         NaN             NaN
1   Arizona   NaN          2025.0         NaN             NaN
2  Arkansas   NaN          2017.0         NaN             NaN
3   Florida   NaN          2024.0         NaN             NaN
4   Georgia   NaN          2020.0         NaN             NaN

In [6]:
df = df.drop(columns=["Last_Execution"])
df.head()

KeyError: "['Last_Execution'] not found in axis"

In [7]:
df.head()

      State  Year  Last_execution Description
0   Alabama   NaN          2024.0         NaN
1   Arizona   NaN          2025.0         NaN
2  Arkansas   NaN          2017.0         NaN
3   Florida   NaN          2024.0         NaN
4   Georgia   NaN          2020.0         NaN

In [8]:
df.loc[df["State"] == "District of Columbia", "Last_execution"] = 1957
df.head()

      State  Year  Last_execution Description
0   Alabama   NaN          2024.0         NaN
1   Arizona   NaN          2025.0         NaN
2  Arkansas   NaN          2017.0         NaN
3   Florida   NaN          2024.0         NaN
4   Georgia   NaN          2020.0         NaN

In [9]:
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

Kontrola datovych typu

In [2]:
df.dtypes

StateCode          object
State              object
Status             object
Year              float64
Last_execution    float64
Description        object
dtype: object

In [3]:
cols_to_convert = ["Year", "Last_execution"]

df[cols_to_convert] = df[cols_to_convert].astype("Int64")  
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

Pridani sloupce Status

In [12]:
df["Status"] = ""

Doplneni statusu pro staty

In [13]:
df.loc[(2025 - df["Last_execution"]) > 10, "Status"] = "Moratorium"

In [4]:
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [15]:
df.loc[df["Year"].notna(), "Status"] = "Abolition"

In [16]:
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [17]:
df.loc[df["Description"].isna(), "Status"] = "Active"
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [18]:
df.dtypes

State             object
Year               Int64
Last_execution     Int64
Description       object
Status            object
dtype: object

In [19]:
df.loc[df["State"] == "District of Columbia", "Status"] = "Abolition"
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

Serazeni statu podle nazvu podle abecedy

In [22]:
df = pd.read_csv("States_status_with_codes.csv", sep=";", encoding="utf-8-sig")
df = df.sort_values(by="State", ascending=True)
df.head()

,StateCode,State,Year,Last_execution,Description,Status
0,AL,Alabama,NaN,2024.0,NaN,Active
27,AK,Alaska,1957.0,NaN,Zrušeno před přijetím do Unie.,Abolition
1,AZ,Arizona,NaN,2025.0,NaN,Active
2,AR,Arkansas,NaN,2017.0,NaN,Active
16,CA,California,NaN,2006.0,Moratorium,Moratorium

In [23]:
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [28]:
position = df.columns.get_loc("State")

# Přesuň "StateCode" na pozici před "State"
cols = df.columns.tolist()
cols.insert(position, cols.pop(cols.index("Status")))
df = df[cols]
df.head()

,StateCode,State,Status,Year,Last_execution,Description
0,AL,Alabama,Active,NaN,2024.0,NaN
27,AK,Alaska,Abolition,1957.0,NaN,Zrušeno před přijetím do Unie.
1,AZ,Arizona,Active,NaN,2025.0,NaN
2,AR,Arkansas,Active,NaN,2017.0,NaN
16,CA,California,Moratorium,NaN,2006.0,Moratorium

In [29]:
df.to_csv("States_status_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")