In [19]:
import pandas as pd
df = pd.read_csv("Execution_1976_2025.csv")

df.head()

,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Age,Foreign National,Juvenile,Federal,...,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim Races Includes White
0,Gary,Gilmore,Mark,NaN,White,Male,36.0,No,No,No,...,0,0,0,0,0,0,0,0,0,Yes
1,John,Spenkelink,NaN,NaN,White,Male,30.0,No,No,No,...,0,0,0,0,0,0,0,0,0,Yes
2,Jesse,Bishop,NaN,NaN,White,Male,46.0,No,No,No,...,0,0,0,0,0,0,0,0,0,Yes
3,Steven,Judy,Timothy,NaN,White,Male,24.0,No,No,No,...,0,0,0,2,0,0,0,0,0,Yes
4,Frank,Coppola,NaN,NaN,White,Male,38.0,No,No,No,...,0,0,0,0,0,0,0,0,0,Yes

In [21]:
df.columns

Index(['First Name', 'Last Name', 'Middle Name(s)', 'Suffix', 'Race', 'Sex',
       'Age', 'Foreign National', 'Juvenile', 'Federal', 'Region', 'Country',
       'State', 'County', 'Execution Date', 'Method', 'Victims',
       'Victim Races', 'Number of Victims', 'Number of Male Victims',
       'Number of Female Victims', 'Number of White Male Victims',
       'Number of Black Male Victims', 'Number of Latino Male Victims',
       'Number of Asian Male Victims',
       'Number of Native American Male Victims',
       'Number of Other Race Male Victims', 'Number of White Female Victims',
       'Number of Black Female Victims', 'Number of Latino Female Victims',
       'Number of Asian Female Victims',
       'Number of American Indian or Alaska Native Female Victims',
       'Number of Other Race Female Victims', 'Victim Races Includes White'],
      dtype='object')

In [22]:
df["Name"] = df[["First Name", "Middle Name(s)", "Last Name", "Suffix"]].fillna("").astype(str).agg(" ".join, axis=1)

df.head()

,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Age,Foreign National,Juvenile,Federal,...,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim Races Includes White,Name
0,Gary,Gilmore,Mark,NaN,White,Male,36.0,No,No,No,...,0,0,0,0,0,0,0,0,Yes,Gary Mark Gilmore
1,John,Spenkelink,NaN,NaN,White,Male,30.0,No,No,No,...,0,0,0,0,0,0,0,0,Yes,John Spenkelink
2,Jesse,Bishop,NaN,NaN,White,Male,46.0,No,No,No,...,0,0,0,0,0,0,0,0,Yes,Jesse Bishop
3,Steven,Judy,Timothy,NaN,White,Male,24.0,No,No,No,...,0,0,2,0,0,0,0,0,Yes,Steven Timothy Judy
4,Frank,Coppola,NaN,NaN,White,Male,38.0,No,No,No,...,0,0,0,0,0,0,0,0,Yes,Frank Coppola

In [23]:
df = df[["Name"] + [col for col in df.columns if col != "Name"]]
df.head()

,Name,First Name,Last Name,Middle Name(s),Suffix,Race,Sex,Age,Foreign National,Juvenile,...,Number of Asian Male Victims,Number of Native American Male Victims,Number of Other Race Male Victims,Number of White Female Victims,Number of Black Female Victims,Number of Latino Female Victims,Number of Asian Female Victims,Number of American Indian or Alaska Native Female Victims,Number of Other Race Female Victims,Victim Races Includes White
0,Gary Mark Gilmore,Gary,Gilmore,Mark,NaN,White,Male,36.0,No,No,...,0,0,0,0,0,0,0,0,0,Yes
1,John Spenkelink,John,Spenkelink,NaN,NaN,White,Male,30.0,No,No,...,0,0,0,0,0,0,0,0,0,Yes
2,Jesse Bishop,Jesse,Bishop,NaN,NaN,White,Male,46.0,No,No,...,0,0,0,0,0,0,0,0,0,Yes
3,Steven Timothy Judy,Steven,Judy,Timothy,NaN,White,Male,24.0,No,No,...,0,0,0,2,0,0,0,0,0,Yes
4,Frank Coppola,Frank,Coppola,NaN,NaN,White,Male,38.0,No,No,...,0,0,0,0,0,0,0,0,0,Yes

In [25]:
df.to_csv("Exectuion_join.csv", sep=';', index=False)