In [9]:
import pandas as pd
df = pd.read_csv("Population_part2.csv",encoding="utf-8-sig")
df.head()

,Countyfips,State,Year,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,0,U.S.,1991,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,0,U.S.,1992,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,0,U.S.,1993,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,0,U.S.,1994,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [10]:
df.dtypes

Countyfips                              int64
State                                  object
Year                                    int64
White Alone                           float64
Black Alone                           float64
American Indian or Alaskan Native     float64
Asian Alone                           float64
Hawaiian or Pacific Islander Alone    float64
Two or More Races                     float64
Not Hispanic                          float64
Hispanic                              float64
dtype: object

In [11]:
# seznam sloupců, které chceš převést

cols_to_convert = ['White Alone','Black Alone', 'American Indian or Alaskan Native', 'Asian Alone', 'Hawaiian or Pacific Islander Alone', 'Two or More Races', 'Not Hispanic', 'Hispanic']
df[cols_to_convert] = df[cols_to_convert].astype('Int64')

In [12]:
df.dtypes

Countyfips                             int64
State                                 object
Year                                   int64
White Alone                            Int64
Black Alone                            Int64
American Indian or Alaskan Native      Int64
Asian Alone                            Int64
Hawaiian or Pacific Islander Alone     Int64
Two or More Races                      Int64
Not Hispanic                           Int64
Hispanic                               Int64
dtype: object

In [13]:
df.to_csv("Population_part2_beznul.csv", sep=';', index=False)
df.head()

,Countyfips,State,Year,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,209366661,30648345,2058726,7549082,<NA>,<NA>,227049976,22572838
1,0,U.S.,1991,211606011,31290743,2126968,7957219,<NA>,<NA>,229425951,23554990
2,0,U.S.,1992,213945622,31979982,2202176,8386444,<NA>,<NA>,231894879,24619345
3,0,U.S.,1993,216187073,32634735,2282052,8814728,<NA>,<NA>,234141927,25776661
4,0,U.S.,1994,218304774,33258981,2361078,9200988,<NA>,<NA>,236179888,26945933