In [3]:
import pandas as pd
df = pd.read_csv("Population_Race.csv")
df.columns

Index(['IBRC_Geo_ID', 'Statefips', 'Countyfips', 'Description', 'Year',
       'Total Population', 'White Alone', 'Black Alone',
       'American Indian or Alaskan Native', 'Asian Alone',
       'Hawaiian or Pacific Islander Alone', 'Two or More Races',
       'Not Hispanic', 'Hispanic'],
      dtype='object')

In [7]:
# odstranění .0 převedením na int
df['White Alone'] = df['White Alone'].astype(str).str.replace(r'\.0$', '', regex=True)
df.head()

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,0,0,U.S.,1990,249622814,209366661,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,0,0,0,U.S.,1991,252980941,211606011,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,0,0,0,U.S.,1992,256514224,213945622,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,0,0,0,U.S.,1993,259918588,216187073,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,0,0,0,U.S.,1994,263125821,218304774,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [8]:
# seznam sloupců, které chceš převést
cols = ['Black Alone', 'American Indian or Alaskan Native', 'Asian Alone', 'Hawaiian or Pacific Islander Alone', 'Two or More Races', 'Not Hispanic', 'Hispanic']

# převod všech na celé číslo
for col in cols:
    df[col] = df[col].astype(str).str.replace(r'\.0$', '', regex=True)
df.head()

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,0,0,U.S.,1990,249622814,209366661,30648345,2058726,7549082,nan,nan,227049976,22572838
1,0,0,0,U.S.,1991,252980941,211606011,31290743,2126968,7957219,nan,nan,229425951,23554990
2,0,0,0,U.S.,1992,256514224,213945622,31979982,2202176,8386444,nan,nan,231894879,24619345
3,0,0,0,U.S.,1993,259918588,216187073,32634735,2282052,8814728,nan,nan,234141927,25776661
4,0,0,0,U.S.,1994,263125821,218304774,33258981,2361078,9200988,nan,nan,236179888,26945933

In [9]:
for col in cols:
    df[col] = df[col].astype(str)
df.head()

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,0,0,U.S.,1990,249622814,209366661,30648345,2058726,7549082,nan,nan,227049976,22572838
1,0,0,0,U.S.,1991,252980941,211606011,31290743,2126968,7957219,nan,nan,229425951,23554990
2,0,0,0,U.S.,1992,256514224,213945622,31979982,2202176,8386444,nan,nan,231894879,24619345
3,0,0,0,U.S.,1993,259918588,216187073,32634735,2282052,8814728,nan,nan,234141927,25776661
4,0,0,0,U.S.,1994,263125821,218304774,33258981,2361078,9200988,nan,nan,236179888,26945933

In [10]:
df.to_csv("Population_Rase_beznul.csv", sep=';', index=False)

In [11]:
df.dtypes

IBRC_Geo_ID                            int64
Statefips                              int64
Countyfips                             int64
Description                           object
Year                                   int64
Total Population                       int64
White Alone                           object
Black Alone                           object
American Indian or Alaskan Native     object
Asian Alone                           object
Hawaiian or Pacific Islander Alone    object
Two or More Races                     object
Not Hispanic                          object
Hispanic                              object
dtype: object

In [14]:
cols = ['White Alone','Black Alone', 'American Indian or Alaskan Native', 'Asian Alone', 'Hawaiian or Pacific Islander Alone', 'Two or More Races', 'Not Hispanic', 'Hispanic']

In [15]:
for col in cols:
    df[col] = pd.to_numeric(df[col], errors='coerce').astype('Int64')

In [16]:
df.dtypes

IBRC_Geo_ID                            int64
Statefips                              int64
Countyfips                             int64
Description                           object
Year                                   int64
Total Population                       int64
White Alone                            Int64
Black Alone                            Int64
American Indian or Alaskan Native      Int64
Asian Alone                            Int64
Hawaiian or Pacific Islander Alone     Int64
Two or More Races                      Int64
Not Hispanic                           Int64
Hispanic                               Int64
dtype: object

In [20]:
df.to_csv("Population_Rase_beznul.csv", sep=';', index=False)
df.head()

,IBRC_Geo_ID,Statefips,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,0,0,U.S.,1990,249622814,209366661,30648345,2058726,7549082,<NA>,<NA>,227049976,22572838
1,0,0,0,U.S.,1991,252980941,211606011,31290743,2126968,7957219,<NA>,<NA>,229425951,23554990
2,0,0,0,U.S.,1992,256514224,213945622,31979982,2202176,8386444,<NA>,<NA>,231894879,24619345
3,0,0,0,U.S.,1993,259918588,216187073,32634735,2282052,8814728,<NA>,<NA>,234141927,25776661
4,0,0,0,U.S.,1994,263125821,218304774,33258981,2361078,9200988,<NA>,<NA>,236179888,26945933

In [21]:
df = df.drop(columns=['IBRC_Geo_ID','Statefips'])
df.head()

,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,249622814,209366661,30648345,2058726,7549082,<NA>,<NA>,227049976,22572838
1,0,U.S.,1991,252980941,211606011,31290743,2126968,7957219,<NA>,<NA>,229425951,23554990
2,0,U.S.,1992,256514224,213945622,31979982,2202176,8386444,<NA>,<NA>,231894879,24619345
3,0,U.S.,1993,259918588,216187073,32634735,2282052,8814728,<NA>,<NA>,234141927,25776661
4,0,U.S.,1994,263125821,218304774,33258981,2361078,9200988,<NA>,<NA>,236179888,26945933

In [22]:
df = df.rename(columns={'Description': 'State'})

In [23]:
df = df[df['Countyfips'] == 0]

In [24]:
df.head()

,Countyfips,State,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,249622814,209366661,30648345,2058726,7549082,<NA>,<NA>,227049976,22572838
1,0,U.S.,1991,252980941,211606011,31290743,2126968,7957219,<NA>,<NA>,229425951,23554990
2,0,U.S.,1992,256514224,213945622,31979982,2202176,8386444,<NA>,<NA>,231894879,24619345
3,0,U.S.,1993,259918588,216187073,32634735,2282052,8814728,<NA>,<NA>,234141927,25776661
4,0,U.S.,1994,263125821,218304774,33258981,2361078,9200988,<NA>,<NA>,236179888,26945933

In [25]:
df.to_csv("Population_Rase_final.csv", sep=';', index=False)