In [2]:
import pandas as pd
df = pd.read_csv("Population_part2_beznul.csv", sep=";", encoding="utf-8-sig")
df.head()

,Countyfips,State,Year,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,0,U.S.,1991,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,0,U.S.,1992,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,0,U.S.,1993,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,0,U.S.,1994,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [3]:

# 6️⃣ "Rozbalení" sloupců od White Alone dál do řádků
# Prvních 5 sloupců zůstanou jako identifikátory (id_vars)
df_melted = df.melt(
    id_vars=df.columns[:3],     # prvních 5 sloupců zůstane
    var_name="Race",             # nový sloupec pro názvy ras
    value_name="Population"      # nový sloupec pro hodnoty
)

# 7️⃣ Ulož do nového souboru
df_melted.to_csv("Population_Race_long.csv", sep=";", index=False, encoding="utf-8-sig")

In [14]:
df2=pd.read_csv("Population_Race_long.csv", sep=";", encoding="utf-8-sig")
df2.head()

   Countyfips State  Year         Race   Population
0           0  U.S.  1990  White Alone  209366661.0
1           0  U.S.  1991  White Alone  211606011.0
2           0  U.S.  1992  White Alone  213945622.0
3           0  U.S.  1993  White Alone  216187073.0
4           0  U.S.  1994  White Alone  218304774.0

In [8]:
df2.dtypes

Countyfips      int64
State          object
Year            int64
Race           object
Population    float64
dtype: object

In [11]:
df2["Population"] = df2["Population"].astype("Int64")

In [12]:
df2.head()

   Countyfips State  Year         Race  Population
0           0  U.S.  1990  White Alone   209366661
1           0  U.S.  1991  White Alone   211606011
2           0  U.S.  1992  White Alone   213945622
3           0  U.S.  1993  White Alone   216187073
4           0  U.S.  1994  White Alone   218304774

In [ ]:
df.to_csv("Population_Race_long.csv", sep=";", index=False, encoding="utf-8-sig")