In [11]:
import pandas as pd
df = pd.read_csv("Population_Race_long.csv", sep=";", encoding="utf-8-sig")
states = pd.read_csv("usa_state_abbreviations.csv",  encoding="utf-8-sig")


states.head()

        State Abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [12]:
df.head()

   Countyfips State  Year         Race   Population
0           0  U.S.  1990  White Alone  209366661.0
1           0  U.S.  1991  White Alone  211606011.0
2           0  U.S.  1992  White Alone  213945622.0
3           0  U.S.  1993  White Alone  216187073.0
4           0  U.S.  1994  White Alone  218304774.0

Pridani sloupce se zkratkama

In [13]:
main_path   = "Population_Race_long.csv"   # hlavní tabulka
states_path = "usa_state_abbreviations.csv"            # tabulka se zkratkami
key_main    = "State"                 # název sloupce se státem v Population_rase.csv
key_states  = "State"                 # název sloupce se státem ve states.csv (uprav podle reality)
value_col   = "Abbreviation"          # JEDINÝ sloupec, který chceš přidat (např. zkratka)


# 2) vyber jen klíč a cílový sloupec
st = states[[key_states, value_col]].copy()

# 3) znormalizuj klíče (odstranění mezer, sjednocení velikosti písmen)
df["__k"] = df[key_main].astype(str).str.strip().str.casefold()
st["__k"] = st[key_states].astype(str).str.strip().str.casefold()

# 4) ošetři duplicity ve states (vezmi první výskyt)
st = st.drop_duplicates("__k", keep="first")

# 5) připoj JEDINÝ sloupec do hlavní tabulky
df = df.merge(st[["__k", value_col]], on="__k", how="left").drop(columns="__k")

# 6) případně přejmenuj nový sloupec
df = df.rename(columns={value_col: "StateCode"})

# 7) ulož (volitelné)
df.to_csv("Population_rase_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

Prerazeni slupce StateCode na jine misto

In [14]:
# Najdi pozici sloupce "State"
pos = df.columns.get_loc("State")

# Přesuň "StateCode" na pozici před "State"
cols = df.columns.tolist()
cols.insert(pos, cols.pop(cols.index("StateCode")))
df = df[cols]

In [15]:
df.to_csv("Population_rase_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [16]:
df.dtypes

Countyfips      int64
StateCode      object
State          object
Year            int64
Race           object
Population    float64
dtype: object

In [ ]:
df["Population"] = df["Population"].astype("Int64")

In [18]:
df.head()

   Countyfips StateCode State  Year         Race  Population
0           0       NaN  U.S.  1990  White Alone   209366661
1           0       NaN  U.S.  1991  White Alone   211606011
2           0       NaN  U.S.  1992  White Alone   213945622
3           0       NaN  U.S.  1993  White Alone   216187073
4           0       NaN  U.S.  1994  White Alone   218304774

In [19]:
df.to_csv("Population_rase_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

Pridani sloupce do Part1

In [24]:
df2 = pd.read_csv("Population_part1.csv", encoding="utf-8-sig")
states = pd.read_csv("usa_state_abbreviations.csv",  encoding="utf-8-sig")

In [25]:
df2.head()

   Countyfips State  Year  Total Population
0           0  U.S.  1990         249622814
1           0  U.S.  1991         252980941
2           0  U.S.  1992         256514224
3           0  U.S.  1993         259918588
4           0  U.S.  1994         263125821

In [26]:
main_path   = "Population_part1.csv"   # hlavní tabulka
states_path = "usa_state_abbreviations.csv"            # tabulka se zkratkami
key_main    = "State"                 # název sloupce se státem v Population_rase.csv
key_states  = "State"                 # název sloupce se státem ve states.csv (uprav podle reality)
value_col   = "Abbreviation"          # JEDINÝ sloupec, který chceš přidat (např. zkratka)


# 2) vyber jen klíč a cílový sloupec
st = states[[key_states, value_col]].copy()

# 3) znormalizuj klíče (odstranění mezer, sjednocení velikosti písmen)
df2["__k"] = df2[key_main].astype(str).str.strip().str.casefold()
st["__k"] = st[key_states].astype(str).str.strip().str.casefold()

# 4) ošetři duplicity ve states (vezmi první výskyt)
st = st.drop_duplicates("__k", keep="first")

# 5) připoj JEDINÝ sloupec do hlavní tabulky
df2 = df2.merge(st[["__k", value_col]], on="__k", how="left").drop(columns="__k")

# 6) případně přejmenuj nový sloupec
df2 = df2.rename(columns={value_col: "StateCode"})

# 7) ulož (volitelné)
df2.to_csv("Population__with_codes.csv", sep=";", index=False, encoding="utf-8-sig")

In [27]:
# Najdi pozici sloupce "State"
pos = df2.columns.get_loc("State")

# Přesuň "StateCode" na pozici před "State"
cols = df2.columns.tolist()
cols.insert(pos, cols.pop(cols.index("StateCode")))
df2 = df2[cols]

In [28]:
df2.head()

   Countyfips StateCode State  Year  Total Population
0           0       NaN  U.S.  1990         249622814
1           0       NaN  U.S.  1991         252980941
2           0       NaN  U.S.  1992         256514224
3           0       NaN  U.S.  1993         259918588
4           0       NaN  U.S.  1994         263125821

In [29]:
df2.to_csv("Population_with_codes.csv", sep=";", index=False, encoding="utf-8-sig")