In [1]:
import pandas as pd
df = pd.read_csv("Population_Race.csv")
df.columns

Index(['IBRC_Geo_ID', 'Statefips', 'Countyfips', 'Description', 'Year',
       'Total Population', 'White Alone', 'Black Alone',
       'American Indian or Alaskan Native', 'Asian Alone',
       'Hawaiian or Pacific Islander Alone', 'Two or More Races',
       'Not Hispanic', 'Hispanic'],
      dtype='object')

In [2]:
df = df.drop(columns=['IBRC_Geo_ID','Statefips'])
df.head()

,Countyfips,Description,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,249622814,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,0,U.S.,1991,252980941,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,0,U.S.,1992,256514224,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,0,U.S.,1993,259918588,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,0,U.S.,1994,263125821,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [4]:
df.to_csv("Population_Race.csv", sep=';', index=False)

In [6]:
df = df.rename(columns={'Description': 'State'})
df.head()

,State,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,U.S.,1990,249622814,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,U.S.,1991,252980941,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,U.S.,1992,256514224,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,U.S.,1993,259918588,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,U.S.,1994,263125821,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [7]:
df = df[~df['State'].str.contains('County', case=False, na=False)]
df.head(100)

,State,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,U.S.,1990,249622814,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,U.S.,1991,252980941,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,U.S.,1992,256514224,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,U.S.,1993,259918588,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,U.S.,1994,263125821,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0
...,...,...,...,...,...,...,...,...,...,...,...
2440,Alaska,2015,738430,490194.0,26876.0,111916.0,45464.0,10013.0,53967.0,688050.0,50380.0
2441,Alaska,2016,742575,490043.0,27380.0,112656.0,46931.0,10550.0,55015.0,690740.0,51835.0
2442,Alaska,2017,740983,485311.0,27569.0,113025.0,48248.0,11134.0,55696.0,687978.0,53005.0
2443,Alaska,2018,736624,480179.0,27507.0,113507.0,48056.0,11326.0,56049.0,683255.0,53369.0
2444,Alaska,2019,733603,476519.0,27101.0,113572.0,48295.0,11599.0,56517.0,679981.0,53622.0

In [8]:
df.to_csv("Population_Rase_WoCounty.csv", sep=';', index=False)