In [ ]:
import pandas as pd

df = pd.read_csv("Population_rase_with_codes.csv", sep=";", encoding="utf-8-sig")
df.head()

   Countyfips StateCode State  Year         Race   Population
0           0       NaN  U.S.  1990  White Alone  209366661.0
1           0       NaN  U.S.  1991  White Alone  211606011.0
2           0       NaN  U.S.  1992  White Alone  213945622.0
3           0       NaN  U.S.  1993  White Alone  216187073.0
4           0       NaN  U.S.  1994  White Alone  218304774.0

In [ ]:
df_us = df[df["State"] == "U.S."]       
df_other = df[df["State"] != "U.S."]    


df_us.to_csv("Population_rase_US.csv", sep=";", index=False, encoding="utf-8-sig")
df_other.to_csv("Population_rase_other.csv", sep=";", index=False, encoding="utf-8-sig")

Rozdeleni tabulky s total hodnotami

In [4]:
df2 = pd.read_csv("Population_with_codes.csv", sep=";", encoding="utf-8-sig")
df2.head()

   Countyfips StateCode State  Year  Total Population
0           0       NaN  U.S.  1990         249622814
1           0       NaN  U.S.  1991         252980941
2           0       NaN  U.S.  1992         256514224
3           0       NaN  U.S.  1993         259918588
4           0       NaN  U.S.  1994         263125821

In [ ]:
df_us = df2[df2["State"] == "U.S."]    
df_other = df2[df2["State"] != "U.S."]     


df_us.to_csv("Population_US.csv", sep=";", index=False, encoding="utf-8-sig")
df_other.to_csv("Population_other.csv", sep=";", index=False, encoding="utf-8-sig")