--Rozdeleni tabulky

In [8]:
import pandas as pd


df = pd.read_csv("Population_Rase_final.csv", sep=";", encoding="utf-8-sig")
df.head()

,Countyfips,State,Year,Total Population,White Alone,Black Alone,American Indian or Alaskan Native,Asian Alone,Hawaiian or Pacific Islander Alone,Two or More Races,Not Hispanic,Hispanic
0,0,U.S.,1990,249622814,209366661.0,30648345.0,2058726.0,7549082.0,NaN,NaN,227049976.0,22572838.0
1,0,U.S.,1991,252980941,211606011.0,31290743.0,2126968.0,7957219.0,NaN,NaN,229425951.0,23554990.0
2,0,U.S.,1992,256514224,213945622.0,31979982.0,2202176.0,8386444.0,NaN,NaN,231894879.0,24619345.0
3,0,U.S.,1993,259918588,216187073.0,32634735.0,2282052.0,8814728.0,NaN,NaN,234141927.0,25776661.0
4,0,U.S.,1994,263125821,218304774.0,33258981.0,2361078.0,9200988.0,NaN,NaN,236179888.0,26945933.0

In [ ]:
split_col = "White Alone"
split_index = df.columns.get_loc(split_col)

df1 = df.iloc[:, :split_index]  
df2 = pd.concat([df.iloc[:, :3], df.iloc[:, split_index:]], axis=1)

df1.to_csv("Population_part1.csv", index=False)
df2.to_csv("Population_part2.csv", index=False)