Smazani sloupcu

In [5]:
import pandas as pd
df = pd.read_csv("Population_rase_other.csv", sep=";", encoding="utf-8-sig")
df.head()

  StateCode    State  Year   Race  Population
0        AL  Alabama  1990  White   2987764.0
1        AL  Alabama  1991  White   3018779.0
2        AL  Alabama  1992  White   3051680.0
3        AL  Alabama  1993  White   3088449.0
4        AL  Alabama  1994  White   3114389.0

In [3]:
df = df.drop(columns=['Countyfips'])
df.head()

  StateCode    State  Year         Race  Population
0        AL  Alabama  1990  White Alone   2987764.0
1        AL  Alabama  1991  White Alone   3018779.0
2        AL  Alabama  1992  White Alone   3051680.0
3        AL  Alabama  1993  White Alone   3088449.0
4        AL  Alabama  1994  White Alone   3114389.0

In [ ]:
df.to_csv("Population_rase_other.csv", sep=';', index=False)

  StateCode    State  Year         Race  Population
0        AL  Alabama  1990  White Alone   2987764.0
1        AL  Alabama  1991  White Alone   3018779.0
2        AL  Alabama  1992  White Alone   3051680.0
3        AL  Alabama  1993  White Alone   3088449.0
4        AL  Alabama  1994  White Alone   3114389.0

Odstraneni 'Alone'

In [5]:
df["Race"] = df["Race"].str.replace("Alone", "", regex=False).str.strip()
df.head()

  StateCode    State  Year   Race  Population
0        AL  Alabama  1990  White   2987764.0
1        AL  Alabama  1991  White   3018779.0
2        AL  Alabama  1992  White   3051680.0
3        AL  Alabama  1993  White   3088449.0
4        AL  Alabama  1994  White   3114389.0

In [6]:
df.to_csv("Population_rase_other.csv", sep=';', index=False)

Smazani radku Not Hispanic

In [7]:
df = df[df["Race"] != "Not Hispanic"]

In [8]:
df.to_csv("Population_rase_other_woNotHispanic.csv", sep=';', index=False)

Prepsani ostatnich ras na Other

In [9]:
df["Race"].unique()

array(['White', 'Black', 'American Indian or Alaskan Native', 'Asian',
       'Hawaiian or Pacific Islander', 'Two or More Races', 'Hispanic'],
      dtype=object)

In [10]:
df["Race"] = df["Race"].replace(
    ["Hawaiian or Pacific Islander", "Two or More Races"],
    "Other"
)

In [11]:
df.to_csv("Population_rase_other_woNotHispanic.csv", sep=';', index=False)

Zmena rasy Native Ameerican

In [13]:
df["Race"] = df["Race"].replace(
    ["American Indian or Alaskan Native"],
    "Native American"
)

In [14]:
df.to_csv("Population_rase_other_woNotHispanic.csv", sep=';', index=False)

Zmena rasy Hispanic

In [2]:
df["Race"] = df["Race"].replace(
    ["Hispanic"],
    "Latino"
)
df.to_csv("Population_rase_other_woNotHispanic.csv", sep=';', index=False)

NameError: name 'df' is not defined

Zmena datoveho typu

In [6]:
df = pd.read_csv("Population_rase_other_woNotHispanic.csv", sep=";", encoding="utf-8-sig")
df.dtypes

StateCode      object
State          object
Year            int64
Race           object
Population    float64
dtype: object

In [7]:
df["Population"] = df["Population"].astype("Int64")
df.head()

  StateCode    State  Year   Race  Population
0        AL  Alabama  1990  White     2987764
1        AL  Alabama  1991  White     3018779
2        AL  Alabama  1992  White     3051680
3        AL  Alabama  1993  White     3088449
4        AL  Alabama  1994  White     3114389

In [8]:
df.to_csv("Population_rase_other_woNotHispanic.csv", sep=';', index=False)